<!DOCTYPE html>
<html lang="en">
<head>
	<!-- HTML -->
	<title>30 seconds</title>

	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	<!-- JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src='https://cdn.jsdelivr.net/npm/color-hash@1.0.3/dist/color-hash.js'></script>
	<script src='/static/js/websocket.js'></script>

	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- Fonts -->
	 <link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet"> 
</head>
<body>
	<div id="snackbar"></div>
	<div id="header">
		<h1 class="title">30 seconds</h1>
	</div>
	<div id="content">
		<div id="landing">
			<form action="#" onsubmit="return false;">
				<div class="tab">
					<input type="text" id="nickname" placeholder="nickname..." autocomplete="off" />
				</div>
				<!--
				<div class="tab" style="display:none">
					<input type="text" id="group" placeholder="group..." autocomplete="off" />
				</div>
				<input type="submit" value="back" id="tab-prev" />
				<input type="submit" value="next" id="tab-next" />
				<br/>
				-->
				<input type="submit" value="submit" id="tab-submit" />
			</form>
		</div>
		<div id="connection" style="display:none">
			<h2 class="connection-status">connecting...</h2>
		</div>
		<div id="group-landing" style="display:none">
			<div id="group-header">
				<h2 class="group-header"></h2>
				<h3 class="group-subtitle"><a href="#" class="copy-invite">(click me to copy the invite link)</a></h3>
			</div>
			<ul id="group-members">
			</ul>
			<input type="submit" value="start game" class="start-game" disabled />
			<input type="submit" value="leave group" id="leave-group" />
		</div>
		<div id="game-container" style="display:none">
			<br/>
			<h2 class="game-role"></h2>
			<form id="chat" action="#" onsubmit="return false;">
				<input type="text" required="required" placeholder="message..." id="chat-message" />
				<input type="submit" value="send" id="send-message" />
			</form>
			<table>
				<tbody id="team-list">
				</tbody>
			</table>
			<table>
				<thead>
					<th>word</th>
				</thead>
				<tbody id="word-list">
				</tbody>
			</table>
		</div>
	</div>
	<div id="footer">
		<p><a href="mailto:help@aero.sx">contact</a> &bull; <a href="https://github.com/Shoot/30Seconds">source</a> &bull; <a href="/credits.txt">credits</a></p>
	</div>
	<!--
	<div id="snackbar"></div>
	<h1>30 seconds</h1>
	<h1 id="loader">loading...</h1>
	<div id="group-container" style="display: none">
		<form action="#" onsubmit="return false;">
			<input type="text" placeholder="group name here..." id="group-id" />
			<input type="submit" value="join group" id="join-group" />
		</form>
	</div>
	<div id="group-info" style="display: none">
		<h2 id="group-name"></h2>
		<ul id="group-members">
		</ul>
		<input type="submit" value="start game" class="start-game" disabled />
		<input type="submit" value="leave group" id="leave-group" />
		<hr/>
		<table class="fixed_header" id="chat-messages">
			<thead>
				<tr>
					<th>chat messages</th>
				</tr>
			</thead>
			<tbody id='incoming-messages'>

			</tbody>
		</table>
		<form id='chat' action="#" onsubmit="return false;">
			<input type="text" required="required" placeholder="message..." id="chat-message" />
			<input type="submit" value="send" id="send-message">
		</form>
		<div id="game-container" style="display: none">
			<h2>teams</h2>
			<table>
				<tbody class="team-list">
				</tbody>
			</table>
			<table>
				<thead>
					<th>word</th>
				</thead>
				<tbody class="word-list">
				</tbody>
			</table>
		</div>
	</div>
	-->
	<!-- Clipboard must be at the bottom of the body -->
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
	<noscript>this website requires javascript to run! please enable it to play.</noscript>
</body>
</html>